body {
    font-family: 'Roboto', sans-serif;
}

.navbar {
    padding: 1rem;
}

.navbar .logo {
    max-height: 30px; /* Adjust this value as needed */
    height: auto;     /* Maintain aspect ratio */
    width: auto;      /* Maintain aspect ratio */
}

section {
    padding: 2rem 0;
}

.display-4 {
    font-size: 2.5rem;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}

.btn-success {
    background-color: #28a745;
    border-color: #28a745;
}

.btn-success:hover {
    background-color: #218838;
    border-color: #1e7e34;
}

/* Glassmorphism Effect */
.glassmorphism {
    background: rgba(255, 255, 255, 0.2); /* Semi-transparent background */
    border: 1px solid rgba(255, 255, 255, 0.3); /* Border with slight transparency */
    border-radius: 10px; /* Rounded corners */
    backdrop-filter: blur(10px); /* Blur effect */
    -webkit-backdrop-filter: blur(10px); /* For Safari */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Add some shadow */
}
